html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 40px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  height: 40px;
  color: white;
}

.centered {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.uk-tab > .uk-active > a {
  border-color: #6a1576;
}
