.login__box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.image-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-thumbnail {
  min-width: 60% !important;
  min-height: 60% !important;
}
