.primary {
  background-color: #6a1576 !important;
  color: #fff !important;
}

.secondary {
  background-color: #440552;
}

.cursor {
  margin-right: auto !important;
}
.cursor:hover {
  cursor: pointer;

  text-decoration: underline;
}

.positions {
  bottom: 30px;
  font-size: 30px;
  padding: 25px;
  position: fixed;
  right: 50px;
  width: 250px;
}

.chat {
  bottom: 10px;
  font-size: 30px;
  padding: 15px;
  position: fixed;
  right: 25px;
}

.react-chatbot-kit-chat-btn-send:hover {
  background-color: #440552 !important;
  transition: all 0.5s;
}
.react-chatbot-kit-chat-container {
  position: relative;
  right: 150px;
}
.react-chatbot-kit-chat-inner-container {
  /* margin-right: 1000px !important; */
  width: 400px !important;
}

.react-chatbot-kit-chat-message-container {
  background-color: #fbfbfb !important;
  border: 1px solid #fbfbfb;
  overflow-x: hidden !important;
  height: 408px !important;
}

.react-chatbot-kit-chat-bot-message {
  margin-left: 0 !important;
  left: 10px;
}
.react-chatbot-kit-chat-inner-container {
  filter: drop-shadow(0 0 0.15rem #282828);
  margin-right: 50px;
  margin-bottom: 50px !important;
}

.react-chatbot-kit-chat-input:focus {
  outline: none !important;
  filter: drop-shadow(0 0 0.1rem #282828);
}

@media (max-width: 512px) {
  .react-chatbot-kit-chat-container {
    position: relative;
    right: 210px;
  }
  .react-chatbot-kit-chat-inner-container {
    /* margin-right: 1000px !important; */
    width: 300px !important;
  }
  .positions {
    width: 90px;
  }
}
